In [1]:
#import dependecies
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [2]:
#load the data from sklearn
from sklearn.datasets import load_boston
boston = load_boston()

In [3]:
#transform the data into a data frame
X = pd.DataFrame(boston.data, columns = boston.feature_names)
y = pd.DataFrame(boston.target)

In [4]:
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [5]:
X.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
from sklearn.linear_model import LinearRegression
reg= LinearRegression()
reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
print(reg.coef_)

[[-1.21310401e-01  4.44664254e-02  1.13416945e-02  2.51124642e+00
  -1.62312529e+01  3.85906801e+00 -9.98516565e-03 -1.50026956e+00
   2.42143466e-01 -1.10716124e-02 -1.01775264e+00  6.81446545e-03
  -4.86738066e-01]]

In [11]:
y_pred = reg.predict(X_test)
print(y_pred)

[[24.9357079 ]
 [23.75163164]
 [29.32638296]
 [11.97534566]
 [21.37272478]
 [19.19148525]
 [20.5717479 ]
 [21.21154015]
 [19.04572003]
 [20.35463238]
 [ 5.44119126]
 [16.93688709]
 [17.15482272]
 [ 5.3928209 ]
 [40.20270696]
 [32.31327348]
 [22.46213268]
 [36.50124666]
 [31.03737014]
 [23.17124551]
 [24.74815321]
 [24.49939403]
 [20.6595791 ]
 [30.4547583 ]
 [22.32487164]
 [10.18932894]
 [17.44286422]
 [18.26103077]
 [35.63299326]
 [20.81960303]
 [18.27218007]
 [17.72047628]
 [19.33772473]
 [23.62254823]
 [28.97766856]
 [19.45036239]
 [11.13170639]
 [24.81843595]
 [18.05294835]
 [15.59712226]
 [26.21043403]
 [20.81140432]
 [22.17349382]
 [15.48367365]
 [22.62261604]
 [24.88561528]
 [19.74754478]
 [23.0465628 ]
 [ 9.84579105]
 [24.36378793]
 [21.47849008]
 [17.62118176]
 [24.39160873]
 [29.95102691]
 [13.57219422]
 [21.53645439]
 [20.53306273]
 [15.03433182]
 [14.3232289 ]
 [22.11929299]
 [17.07321915]
 [21.54141094]
 [32.96766968]
 [31.371599  ]
 [17.7860591 ]
 [32.75069556]
 [18.74795323]
 [19.21428022]
 [19.41970047]
 [23.08087809]
 [22.87732816]
 [24.06399098]
 [30.52824406]
 [28.71453508]
 [25.90763165]
 [ 5.17596718]
 [36.8709072 ]
 [23.76983849]
 [27.26064379]
 [19.25849042]
 [28.41860517]
 [19.3008798 ]
 [18.94922353]
 [38.00154059]
 [39.44096748]
 [23.72297885]
 [24.83722534]
 [16.52015743]
 [25.9970546 ]
 [16.73997072]
 [15.48656983]
 [13.52825536]
 [24.12884363]
 [30.76919578]
 [22.18731163]
 [19.8848644 ]
 [ 0.42275479]
 [24.86785849]
 [16.05692   ]
 [17.42486412]
 [25.49798527]
 [22.35171315]
 [32.66562689]
 [22.04428746]
 [27.29799885]
 [23.20302026]
 [ 6.86196574]
 [14.869251  ]
 [22.31804948]
 [29.18125768]
 [33.22568234]
 [13.24392523]
 [19.67195771]
 [20.7502616 ]
 [12.02271319]
 [23.50067006]
 [ 5.55662571]
 [19.87634689]
 [ 9.27059783]
 [44.81787339]
 [30.56017983]
 [12.44394048]
 [17.33192202]
 [21.48313292]
 [23.52664913]
 [20.49877266]
 [35.09161099]
 [13.22639935]
 [20.70321163]
 [35.35582833]
 [19.45050576]
 [13.81603561]
 [14.15654562]
 [23.03678503]
 [15.07521258]
 [30.9662041 ]
 [25.23236632]
 [15.43763716]
 [24.06406534]
 [ 9.93080346]
 [15.01618901]
 [21.06098873]
 [32.87115732]
 [27.80927747]
 [25.91293794]
 [15.27877362]
 [30.97489404]
 [27.81107682]
 [14.5068157 ]
 [ 7.57369946]
 [28.3348068 ]
 [25.04341153]]

In [14]:
print((y_test).head())

        0
329  22.6
371  50.0
219  23.0
403   8.3
78   21.2

In [15]:
#check the moel performance usine MSE using sklearn

from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_test, y_pred))

27.195965766883234

In [18]:
#check the model performance usine MSE
#print(np.mean((y_pred - y_test) ** 2))

0    27.195966
dtype: float64